.row {
    display: flex;
    justify-content: center;
  }
  .col {
    background-color: #5a9bd5;
    color: #fff;
    border-radius: 30px;
    padding: 30px;
  }
  .fs-1 {
    font-size: 20px;
  }
  .fs-2 {
    font-size: 17px;
  }