* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
  }
  .container {
    display: flex;
  }

  #main {
    display: flex;
    flex: 1; /* menempati ruang kosong di container body*/
    width: 80vw;
  }
  #main > article {
    flex: 1; /* menempati sisa ruang yang ada pada flex container main */
    order: 1;
    height: 60vh;
  }
  #main aside {
    flex: 0 0 20vw; /* mengatur lebar nav dan aside sebesar 20% dari lebar parent div main */
  }

  #main > aside {
    background-color: lightblue;
    order: 2;
  }
  nav {
    background-color: pink;
    width: 20vw;
  }

  header,
  footer {
    background: yellow;
    height: 20vh;
  } /* vh satuan css yang relatif ke layar browser
vh = mengatur tinggi layar browser */

  header,
  footer,
  article,
  nav,
  aside {
    padding: 1em;
  }